/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 20px;
}

h2 {
    color: #555;
    margin-top: 20px;
    text-align: center;
}

/* Form Section */
label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
    max-width: 400px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Table Section */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9f7e9;
}
.PanchakaMuhurthContent{
    padding-left: 15px;
}
.cityAndDate {
    display: grid;
    place-items: center;  /* Centers both horizontally and vertically */
    width: 100%;          /* Full width */
    background-color: #f9f9f9; /* Optional: Background color */
}

/* Small Devices */
@media screen and (max-width: 0px) {
    h1, h2 {
        font-size: 1.5rem;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"] {
        width: 100%;
        max-width: none;
    }

    button {
        width: 100%;
        max-width: none;
    }

    table {
        width: 100%;
    }

    th, td {
        font-size: 0.9rem;
    }
    .PanchakaMuhurthContent{
        padding-top: 75px;
        padding-left: 15px;
    }
}
